
<div fxLayoutAlign="center center" fxFlexFill>

    <mat-card fxFlex=25>
        <h1 align="center"><b>Register</b></h1>
        <form fxLayoutAlign = "stretch" fxLayout = "column">
            <mat-form-field >
              <input matInput type="text" placeholder="First Name">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="text" placeholder="LastName">
              </mat-form-field>

              <mat-form-field>
                <input matInput type="text" placeholder="UserName">
              </mat-form-field>

              <mat-form-field>
                <input matInput type="password" placeholder="Password">
              </mat-form-field>
           
              <mat-card fxLayout="row wrap" fxLayoutGap="30px">
                  <button mat-raised-button color="primary" type="submit">Register</button>
                  <button mat-button color="primary">Cancel</button>
              </mat-card>    

             </form>
          
            </mat-card>
    
</div>